flows.json
[
    {
        "id": "cfdaac38e6a0b145",
        "type": "tab",
        "label": "TAK ASN SIDECAR",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4e71ffcc.32ba8",
        "type": "sqlitedb",
        "db": ":memory:",
        "mode": "RWC"
    },
    {
        "id": "dc169dd1444aa8a5",
        "type": "tls-config",
        "name": "TAK SSL",
        "cert": "/data/certs/server.pem",
        "key": "/data/certs/server.key",
        "ca": "/data/certs/ca.pem",
        "certname": "crtfile.crt",
        "keyname": "keyfile.pem",
        "caname": "ca.crt",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "b78dc12070421d5c",
        "type": "inject",
        "z": "cfdaac38e6a0b145",
        "name": "CREATE",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "CREATE TABLE LastSeen(id TEXT PRIMARY KEY, lat TEXT, lon TEXT, hae TEXT, ce TEXT, le TEXT)",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 80,
        "wires": [
            [
                "e6e2d53b7a5f7f0d"
            ]
        ]
    },
    {
        "id": "3d24aed964ea8ef1",
        "type": "inject",
        "z": "cfdaac38e6a0b145",
        "name": "DROP TABLE",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DROP TABLE LastSeen",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 120,
        "wires": [
            [
                "e6e2d53b7a5f7f0d"
            ]
        ]
    },
    {
        "id": "e6e2d53b7a5f7f0d",
        "type": "sqlite",
        "z": "cfdaac38e6a0b145",
        "mydb": "4e71ffcc.32ba8",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "LastSeen",
        "x": 520,
        "y": 80,
        "wires": [
            [
                "3d5441a7822941fe"
            ]
        ]
    },
    {
        "id": "3d5441a7822941fe",
        "type": "debug",
        "z": "cfdaac38e6a0b145",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 80,
        "wires": []
    },
    {
        "id": "5dc78d389b5dc148",
        "type": "comment",
        "z": "cfdaac38e6a0b145",
        "name": "CREATE DATABASES",
        "info": "",
        "x": 240,
        "y": 40,
        "wires": []
    },
    {
        "id": "7dac542fdde70908",
        "type": "tcp out",
        "z": "cfdaac38e6a0b145",
        "name": "SEND-TO-TAK",
        "host": "${COT_IP}",
        "port": "${COT_PORT}",
        "beserver": "client",
        "base64": false,
        "end": false,
        "tls": "dc169dd1444aa8a5",
        "x": 1760,
        "y": 840,
        "wires": []
    },
    {
        "id": "d6f574eafd9c4127",
        "type": "inject",
        "z": "cfdaac38e6a0b145",
        "name": "Start of simple video server propegator",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 1020,
        "wires": [
            [
                "8f20cd679e9941ff"
            ]
        ]
    },
    {
        "id": "8f20cd679e9941ff",
        "type": "http request",
        "z": "cfdaac38e6a0b145",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:9997/v1/paths/list",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 610,
        "y": 1020,
        "wires": [
            [
                "6143fef560dcd819"
            ]
        ]
    },
    {
        "id": "570453add72beeb9",
        "type": "split",
        "z": "cfdaac38e6a0b145",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "items",
        "x": 910,
        "y": 1020,
        "wires": [
            [
                "7c855e3494b8fb4b"
            ]
        ]
    },
    {
        "id": "6143fef560dcd819",
        "type": "switch",
        "z": "cfdaac38e6a0b145",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "{\"items\":{}}",
                "vt": "str",
                "case": false
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 770,
        "y": 1020,
        "wires": [
            [],
            [
                "570453add72beeb9"
            ]
        ]
    },
    {
        "id": "7c855e3494b8fb4b",
        "type": "json",
        "z": "cfdaac38e6a0b145",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1030,
        "y": 1020,
        "wires": [
            [
                "6d6bb2be1bbf16bb"
            ]
        ]
    },
    {
        "id": "6d6bb2be1bbf16bb",
        "type": "function",
        "z": "cfdaac38e6a0b145",
        "name": "",
        "func": "msg.payload = Object.keys(msg.payload.items);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 1020,
        "wires": [
            [
                "3032a4e1c0c6f848"
            ]
        ]
    },
    {
        "id": "3032a4e1c0c6f848",
        "type": "change",
        "z": "cfdaac38e6a0b145",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "backupname",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1320,
        "y": 1020,
        "wires": [
            [
                "9fe8c7b135d6dd7c"
            ]
        ]
    },
    {
        "id": "9a669186962e036a",
        "type": "sqlite",
        "z": "cfdaac38e6a0b145",
        "mydb": "4e71ffcc.32ba8",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "LastSeen",
        "x": 800,
        "y": 1140,
        "wires": [
            [
                "5696ebc0ad6e3ff5"
            ]
        ]
    },
    {
        "id": "9fe8c7b135d6dd7c",
        "type": "template",
        "z": "cfdaac38e6a0b145",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT\n  *\nFROM\n  LastSeen\nWHERE\n  id = \"{{ payload }}\"",
        "output": "str",
        "x": 640,
        "y": 1140,
        "wires": [
            [
                "9a669186962e036a"
            ]
        ]
    },
    {
        "id": "5696ebc0ad6e3ff5",
        "type": "switch",
        "z": "cfdaac38e6a0b145",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 970,
        "y": 1140,
        "wires": [
            [
                "15495a24e67a5f25"
            ],
            [
                "6b2539fc0a171ef5"
            ]
        ]
    },
    {
        "id": "6b2539fc0a171ef5",
        "type": "function",
        "z": "cfdaac38e6a0b145",
        "name": "",
        "func": "name = msg.payload[0].id;\nlat = msg.payload[0].lat;\nlon = msg.payload[0].lon;\nhae = msg.payload[0].hae;\nce = msg.payload[0].ce;\nle = msg.payload[0].le;\n\nmsg.payload = {\n  name: name,\n  lat: lat,\n  lon: lon,\n  hae: hae,\n  ce: ce,\n  le: le\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 1160,
        "wires": [
            [
                "ad21d524c6acfc09"
            ]
        ]
    },
    {
        "id": "ad21d524c6acfc09",
        "type": "template",
        "z": "cfdaac38e6a0b145",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<event version=\"2.0\" uid=\"COTUID-{{ payload.name }}\" type=\"b-m-p-s-p-loc\" how=\"h-g-i-g-o\" time=\"{{ global.starttime }}\" start=\"{{ global.starttime }}\" stale=\"{{ global.staletime }}\">\n   <point lat=\"{{ payload.lat }}\" lon=\"{{ payload.lon }}\" hae=\"{{ payload.hae }}\" ce=\"{{ payload.ce }}\" le=\"{{ payload.le }}\" />\n   <detail>\n      <status readiness=\"true\" />\n      <contact callsign=\"{{ payload.name }}\" />\n      <__video uid=\"VIDEOUID-{{ payload.name }}\" url=\"{{global.ip}}:8554/{{ payload.name }}\">\n         <ConnectionEntry protocol=\"rtsp\" path=\"/{{ payload.name }}\" address=\"{{global.ip}}\" port=\"8554\" alias=\"{{ payload.name }}\" roverPort=\"-1\" rtspReliable=\"0\" ignoreEmbeddedKLV=\"False\" networkTimeout=\"0\" bufferTime=\"-1\" />\n      </__video>\n      <precisionlocation geopointsrc=\"???\" altsrc=\"???\" />\n   </detail>\n</event>",
        "output": "str",
        "x": 1340,
        "y": 1140,
        "wires": [
            [
                "7dac542fdde70908"
            ]
        ]
    },
    {
        "id": "15495a24e67a5f25",
        "type": "function",
        "z": "cfdaac38e6a0b145",
        "name": "",
        "func": "name = msg.backupname;\n\n\nmsg.payload = {\n  name: name,\n  lat: \"0.0\",\n  lon: \"0.0\",\n  hae: \"0.0\",\n  ce: \"99999\",\n  le: \"99999\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 1120,
        "wires": [
            [
                "ad21d524c6acfc09"
            ]
        ]
    },
    {
        "id": "c0d9ac6e74f95a24",
        "type": "ip",
        "z": "cfdaac38e6a0b145",
        "name": "ip",
        "https": false,
        "timeout": "5000",
        "internalIPv4": false,
        "internalIPv6": false,
        "publicIPv4": true,
        "publicIPv6": false,
        "x": 510,
        "y": 260,
        "wires": [
            [
                "ee9bc92f013a5c92"
            ]
        ]
    },
    {
        "id": "87afc73889c1e476",
        "type": "inject",
        "z": "cfdaac38e6a0b145",
        "name": "SET global.publicip",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "18000",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 260,
        "wires": [
            [
                "c0d9ac6e74f95a24"
            ]
        ]
    },
    {
        "id": "a2a594e440b35ecb",
        "type": "comment",
        "z": "cfdaac38e6a0b145",
        "name": "SET GLOBAL PUBLIC IP",
        "info": "",
        "x": 250,
        "y": 220,
        "wires": []
    },
    {
        "id": "a8ee9ec870a7b9f8",
        "type": "moment",
        "z": "cfdaac38e6a0b145",
        "name": "STALETIME",
        "topic": "",
        "input": "",
        "inputType": "date",
        "inTz": "Africa/Abidjan",
        "adjAmount": "5",
        "adjType": "minutes",
        "adjDir": "add",
        "format": "",
        "locale": "en-US",
        "output": "staletime",
        "outputType": "global",
        "outTz": "Africa/Abidjan",
        "x": 530,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "61ade050b350b723",
        "type": "moment",
        "z": "cfdaac38e6a0b145",
        "name": "STARTTIME",
        "topic": "",
        "input": "",
        "inputType": "date",
        "inTz": "Africa/Abidjan",
        "adjAmount": "0",
        "adjType": "minutes",
        "adjDir": "add",
        "format": "",
        "locale": "en-US",
        "output": "starttime",
        "outputType": "global",
        "outTz": "Africa/Abidjan",
        "x": 530,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "fef6bcd925d21514",
        "type": "inject",
        "z": "cfdaac38e6a0b145",
        "name": "SET TIME VARIABLES",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 340,
        "wires": [
            [
                "a8ee9ec870a7b9f8",
                "61ade050b350b723",
                "467763cdcfba0049",
                "5e1cdadc5e34611e"
            ]
        ]
    },
    {
        "id": "467763cdcfba0049",
        "type": "moment",
        "z": "cfdaac38e6a0b145",
        "name": "VIDEOSTALETIME",
        "topic": "",
        "input": "",
        "inputType": "date",
        "inTz": "Africa/Abidjan",
        "adjAmount": "1",
        "adjType": "minutes",
        "adjDir": "add",
        "format": "",
        "locale": "en-US",
        "output": "staletime",
        "outputType": "global",
        "outTz": "Africa/Abidjan",
        "x": 550,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "22b0e537e04dc5e9",
        "type": "comment",
        "z": "cfdaac38e6a0b145",
        "name": "SET GLOBAL TIME VARIABLES",
        "info": "",
        "x": 270,
        "y": 300,
        "wires": []
    },
    {
        "id": "cb14f86de5a75de6",
        "type": "comment",
        "z": "cfdaac38e6a0b145",
        "name": "CONNECTS TO RTSP-SIMPLE-SERVER AND SENDS STREAMS AS COT",
        "info": "",
        "x": 410,
        "y": 980,
        "wires": []
    },
    {
        "id": "8e25cdf4adba4304",
        "type": "comment",
        "z": "cfdaac38e6a0b145",
        "name": "LAST SEEN LOCATION OF CALLSIGN",
        "info": "",
        "x": 290,
        "y": 720,
        "wires": []
    },
    {
        "id": "626f25b30c2f56e9",
        "type": "xml",
        "z": "cfdaac38e6a0b145",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 510,
        "y": 780,
        "wires": [
            [
                "4bc22429be89c2bf"
            ]
        ]
    },
    {
        "id": "4bc22429be89c2bf",
        "type": "function",
        "z": "cfdaac38e6a0b145",
        "name": "",
        "func": "let event = msg.payload[\"event\"];\nlet _detail = event[\"detail\"];\nlet detail = _detail[0];\n\nlet name = msg.payload.event.detail[0].contact[0].$.callsign;\nlet lat = msg.payload.event.point[0].$.lat;\nlet lon = msg.payload.event.point[0].$.lon;\nlet hae = msg.payload.event.point[0].$.hae;\nlet ce = msg.payload.event.point[0].$.ce;\nlet le = msg.payload.event.point[0].$.le;\nlet uid = msg.payload.event.$.uid\n\nmsg.payload = {\n  name: name,\n  lat: lat,\n  lon: lon,\n  hae: hae,\n  ce: ce,\n  le: le,\n  uid: uid\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 780,
        "wires": [
            [
                "edd8448042a0e512",
                "f89b99464997a53f"
            ]
        ]
    },
    {
        "id": "edd8448042a0e512",
        "type": "template",
        "z": "cfdaac38e6a0b145",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT\nOR REPLACE INTO LastSeen\nvalues\n  (\n    \"{{ payload.name }}\",\n    \"{{ payload.lat }}\",\n    \"{{ payload.lon }}\",\n    \"{{ payload.hae }}\",\n    \"{{ payload.ce }}\",\n    \"{{ payload.le }}\"\n  )",
        "output": "str",
        "x": 780,
        "y": 780,
        "wires": [
            [
                "944ed353ab3f91ee"
            ]
        ]
    },
    {
        "id": "944ed353ab3f91ee",
        "type": "sqlite",
        "z": "cfdaac38e6a0b145",
        "mydb": "4e71ffcc.32ba8",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "LastSeen",
        "x": 920,
        "y": 780,
        "wires": [
            [
                "12363bf61649cba8"
            ]
        ]
    },
    {
        "id": "ab43ec80bcb3c9a5",
        "type": "tcp tls in",
        "z": "cfdaac38e6a0b145",
        "name": "FETCH-FROM-TAK",
        "server": "client",
        "host": "${COT_IP}",
        "port": "${COT_PORT}",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "",
        "topic": "",
        "base64": false,
        "tls": "dc169dd1444aa8a5",
        "x": 230,
        "y": 780,
        "wires": [
            [
                "626f25b30c2f56e9",
                "8c28418a908e0f31"
            ]
        ]
    },
    {
        "id": "ee9bc92f013a5c92",
        "type": "change",
        "z": "cfdaac38e6a0b145",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.publicIPv4",
                "pt": "msg",
                "to": "ip",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 260,
        "wires": [
            [
                "f62624443367d01d"
            ]
        ]
    },
    {
        "id": "f62624443367d01d",
        "type": "debug",
        "z": "cfdaac38e6a0b145",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 260,
        "wires": []
    },
    {
        "id": "12363bf61649cba8",
        "type": "debug",
        "z": "cfdaac38e6a0b145",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 780,
        "wires": []
    },
    {
        "id": "d91a7eb8dd1fe56b",
        "type": "switch",
        "z": "cfdaac38e6a0b145",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": ">del<",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 630,
        "y": 840,
        "wires": [
            [
                "ce279869b9837123"
            ]
        ]
    },
    {
        "id": "8c28418a908e0f31",
        "type": "switch",
        "z": "cfdaac38e6a0b145",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "<link",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 510,
        "y": 840,
        "wires": [
            [
                "d91a7eb8dd1fe56b"
            ]
        ]
    },
    {
        "id": "ce279869b9837123",
        "type": "change",
        "z": "cfdaac38e6a0b145",
        "name": "NULL ISLAND AND NUKE",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "<point*.*<detail>",
                "fromt": "re",
                "to": "<point lat=\"0.0\" lon=\"0.0\" hae=\"9999999.0\" ce=\"9999999.0\" le=\"9999999.0\" /><detail>",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "<archive/>",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "stale=\"*....",
                "fromt": "re",
                "to": "stale=\"1990",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 840,
        "wires": [
            [
                "7dac542fdde70908"
            ]
        ]
    },
    {
        "id": "fb1cb20f91357c0b",
        "type": "comment",
        "z": "cfdaac38e6a0b145",
        "name": "BONUS FEATURE!",
        "info": "Add the remark `del` to a marker to have it be nuked from the server. ",
        "x": 230,
        "y": 880,
        "wires": []
    },
    {
        "id": "0f7b81ae56a90cea",
        "type": "inject",
        "z": "cfdaac38e6a0b145",
        "name": "CHECK FOR NEW USERS",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 1240,
        "wires": [
            [
                "ac2f7aeb134767a7"
            ]
        ]
    },
    {
        "id": "8e94597b25c3c9db",
        "type": "sqlite",
        "z": "cfdaac38e6a0b145",
        "mydb": "4e71ffcc.32ba8",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "FirtSeen",
        "x": 700,
        "y": 1240,
        "wires": [
            [
                "acad3dfe57b8629e"
            ]
        ]
    },
    {
        "id": "ac2f7aeb134767a7",
        "type": "template",
        "z": "cfdaac38e6a0b145",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT\n  *\nFROM\n  FirtSeen",
        "output": "str",
        "x": 520,
        "y": 1240,
        "wires": [
            [
                "8e94597b25c3c9db"
            ]
        ]
    },
    {
        "id": "f89b99464997a53f",
        "type": "template",
        "z": "cfdaac38e6a0b145",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO FirtSeen\nvalues\n  (\n    \"{{ payload.name }}\",\n    \"{{ payload.uid }}\",\n    \"{{ global.ts }}\"\n  )",
        "output": "str",
        "x": 780,
        "y": 720,
        "wires": [
            [
                "4515a50fff6ab1c3"
            ]
        ]
    },
    {
        "id": "4515a50fff6ab1c3",
        "type": "sqlite",
        "z": "cfdaac38e6a0b145",
        "mydb": "4e71ffcc.32ba8",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "FirstSeen",
        "x": 920,
        "y": 720,
        "wires": [
            [
                "ea685ea51d252cf4"
            ]
        ]
    },
    {
        "id": "d967d2660a6b72ff",
        "type": "sqlite",
        "z": "cfdaac38e6a0b145",
        "mydb": "4e71ffcc.32ba8",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "FirstSeen",
        "x": 520,
        "y": 160,
        "wires": [
            [
                "8c4b46161fc5522c"
            ]
        ]
    },
    {
        "id": "427424acdf3c153a",
        "type": "inject",
        "z": "cfdaac38e6a0b145",
        "name": "CREATE",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "CREATE TABLE FirtSeen(id TEXT PRIMARY KEY, uid, ts)",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 160,
        "wires": [
            [
                "d967d2660a6b72ff"
            ]
        ]
    },
    {
        "id": "8c4b46161fc5522c",
        "type": "debug",
        "z": "cfdaac38e6a0b145",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 160,
        "wires": []
    },
    {
        "id": "5e1cdadc5e34611e",
        "type": "change",
        "z": "cfdaac38e6a0b145",
        "name": "GLOBAL TS",
        "rules": [
            {
                "t": "set",
                "p": "ts",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 460,
        "wires": [
            [
                "bd1f2ce7346aad54"
            ]
        ]
    },
    {
        "id": "bd1f2ce7346aad54",
        "type": "debug",
        "z": "cfdaac38e6a0b145",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 460,
        "wires": []
    },
    {
        "id": "aee342a0874ef1b7",
        "type": "template",
        "z": "cfdaac38e6a0b145",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<event version=\"2.0\" uid=\"GeoChat.{{ payload.id }}-{{ global.ts }}\" type=\"b-t-f\" how=\"h-g-i-g-o\" time=\"{{ global.starttime }}\" start=\"{{ global.starttime }}\" stale=\"{{ global.staletime }}\">\n   <point lat=\"0.0\" lon=\"0.0\" hae=\"9999999.0\" ce=\"1.0\" le=\"9999999.0\"/>\n   <detail>\n      <__chat senderCallsign=\"ASN-TAK\" chatroom=\"{{ payload.id }}\" groupOwner=\"false\" id=\"{{ payload.uid }}\" parent=\"RootContactGroup\" messageId=\"JunkMessageId-{{ payload.uid }}-{{ payload.ts }}\">\n         <chatgrp uid0=\"{{ payload.uid }}\" uid1=\"ASN-TAK-FAKEUID\" id=\"{{ payload.uid }}\" />\n      </__chat>\n      <__serverdestination destinations=\"Test:tcp:{{ payload.uid }}\" />\n      <remarks time=\"{{ global.starttime }}\" to=\"{{ payload.uid }}\" source=\"BAO.F.ATAK.ASN-TAK-FAKEUID\">Welcome to ASN-TAK for {{ global.serverid }} team!\n\nMake sure you are only on your team's server.\nRemember to properly exit the application after use.\n\nMore info at airsoftnorge.com\n      </remarks>\n      <marti>\n         <dest callsign=\"{{ payload.id }}\" />\n      </marti>\n   </detail>\n</event>\n",
        "output": "str",
        "x": 1440,
        "y": 1240,
        "wires": [
            [
                "7dac542fdde70908"
            ]
        ]
    },
    {
        "id": "ea685ea51d252cf4",
        "type": "debug",
        "z": "cfdaac38e6a0b145",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 720,
        "wires": []
    },
    {
        "id": "b3f06a54d086d62a",
        "type": "catch",
        "z": "cfdaac38e6a0b145",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 200,
        "y": 1500,
        "wires": [
            [
                "36f85feb9687f191"
            ]
        ]
    },
    {
        "id": "36f85feb9687f191",
        "type": "switch",
        "z": "cfdaac38e6a0b145",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "\"Error: SQLITE_CONSTRAINT: UNIQUE constraint failed: FirtSeen.id\"",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 1500,
        "wires": [
            [
                "a1b3bf7f5582bfc9"
            ],
            [
                "115cab0577cf345f"
            ]
        ]
    },
    {
        "id": "a1b3bf7f5582bfc9",
        "type": "debug",
        "z": "cfdaac38e6a0b145",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 1480,
        "wires": []
    },
    {
        "id": "115cab0577cf345f",
        "type": "debug",
        "z": "cfdaac38e6a0b145",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 1520,
        "wires": []
    },
    {
        "id": "891f1c8a50b53da8",
        "type": "inject",
        "z": "cfdaac38e6a0b145",
        "name": "CONNECTION REMINDER",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10800",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 1320,
        "wires": [
            [
                "ef2310c0a758608f"
            ]
        ]
    },
    {
        "id": "c34895b9221a9d3b",
        "type": "sqlite",
        "z": "cfdaac38e6a0b145",
        "mydb": "4e71ffcc.32ba8",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "FirtSeen",
        "x": 700,
        "y": 1320,
        "wires": [
            [
                "301b050434fd8739"
            ]
        ]
    },
    {
        "id": "ef2310c0a758608f",
        "type": "template",
        "z": "cfdaac38e6a0b145",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT\n  *\nFROM\n  FirtSeen",
        "output": "str",
        "x": 520,
        "y": 1320,
        "wires": [
            [
                "c34895b9221a9d3b"
            ]
        ]
    },
    {
        "id": "62b9c7a93eda5066",
        "type": "template",
        "z": "cfdaac38e6a0b145",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<event version=\"2.0\" uid=\"GeoChat.{{ payload.id }}-{{ global.ts }}\" type=\"b-t-f\" how=\"h-g-i-g-o\" time=\"{{ global.starttime }}\" start=\"{{ global.starttime }}\" stale=\"{{ global.staletime }}\">\n   <point lat=\"0.0\" lon=\"0.0\" hae=\"9999999.0\" ce=\"1.0\" le=\"9999999.0\"/>\n   <detail>\n      <__chat senderCallsign=\"ASN-TAK\" chatroom=\"{{ payload.id }}\" groupOwner=\"false\" id=\"{{ payload.uid }}\" parent=\"RootContactGroup\" messageId=\"JunkMessageId-{{ payload.id }}-{{ global.ts }}\">\n         <chatgrp uid0=\"{{ payload.uid }}\" uid1=\"ASN-TAK-FAKEUID\" id=\"{{ payload.uid }}\" />\n      </__chat>\n          <__serverdestination destinations=\"Test:tcp:{{ payload.uid }}\" />\n      <remarks time=\"{{ global.starttime }}\" to=\"{{ payload.uid }}\" source=\"BAO.F.ATAK.ASN-TAK-FAKEUID\">Reminder: {{ global.serverid }} connection is active. </remarks>\n      <marti>\n         <dest callsign=\"{{ payload.id }}\" />\n      </marti>\n   </detail>\n</event>\n",
        "output": "str",
        "x": 1440,
        "y": 1320,
        "wires": [
            [
                "7dac542fdde70908"
            ]
        ]
    },
    {
        "id": "409a597044c74578",
        "type": "inject",
        "z": "cfdaac38e6a0b145",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 580,
        "wires": [
            [
                "356e5f876b6cbe18"
            ]
        ]
    },
    {
        "id": "356e5f876b6cbe18",
        "type": "change",
        "z": "cfdaac38e6a0b145",
        "name": "SET SERVER COLOR",
        "rules": [
            {
                "t": "set",
                "p": "serverid",
                "pt": "global",
                "to": "SERVER_ID",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 580,
        "wires": [
            [
                "0812b93e4c22e689"
            ]
        ]
    },
    {
        "id": "0812b93e4c22e689",
        "type": "debug",
        "z": "cfdaac38e6a0b145",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 580,
        "wires": []
    },
    {
        "id": "acad3dfe57b8629e",
        "type": "split",
        "z": "cfdaac38e6a0b145",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 950,
        "y": 1240,
        "wires": [
            [
                "87c97adf9f63be1a"
            ]
        ]
    },
    {
        "id": "301b050434fd8739",
        "type": "split",
        "z": "cfdaac38e6a0b145",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 950,
        "y": 1320,
        "wires": [
            [
                "62b9c7a93eda5066"
            ]
        ]
    },
    {
        "id": "87c97adf9f63be1a",
        "type": "function",
        "z": "cfdaac38e6a0b145",
        "name": "CHECK TIME DIFF",
        "func": "timea = msg.payload.ts\ntimeb = global.get(\"ts\")\ntimec = timeb - timea\n\n\nmsg.timediff = {\n  timea:timea,\n  timeb:timeb,\n  diff:timec\n}\n\nif (msg.timediff.diff <= 15000){\n    return msg;\n}\nelse {\n    return;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 1240,
        "wires": [
            [
                "aee342a0874ef1b7"
            ]
        ]
    }
]
