flows.json
[
    {
        "id": "ef45d4dbf3cac858",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dc169dd1444aa8a5",
        "type": "tls-config",
        "name": "TAK SSL",
        "cert": "/data/certs/server.pem",
        "key": "/data/certs/server.key",
        "ca": "/data/certs/ca.pem",
        "certname": "crtfile.crt",
        "keyname": "keyfile.pem",
        "caname": "ca.crt",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "4e71ffcc.32ba8",
        "type": "sqlitedb",
        "db": ":memory:",
        "mode": "RWC"
    },
    {
        "id": "7dac542fdde70908",
        "type": "tcp out",
        "z": "ef45d4dbf3cac858",
        "name": "SEND-TO-TAK",
        "host": "${COT_IP}",
        "port": "${COT_PORT}",
        "beserver": "client",
        "base64": false,
        "end": false,
        "tls": "dc169dd1444aa8a5",
        "x": 1760,
        "y": 840,
        "wires": []
    },
    {
        "id": "b78dc12070421d5c",
        "type": "inject",
        "z": "ef45d4dbf3cac858",
        "name": "CREATE",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "CREATE TABLE LastSeen(id TEXT PRIMARY KEY, lat TEXT, lon TEXT, hae TEXT, ce TEXT, le TEXT)",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 80,
        "wires": [
            [
                "e6e2d53b7a5f7f0d"
            ]
        ]
    },
    {
        "id": "3d24aed964ea8ef1",
        "type": "inject",
        "z": "ef45d4dbf3cac858",
        "name": "DROP TABLE",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DROP TABLE LastSeen",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 120,
        "wires": [
            [
                "e6e2d53b7a5f7f0d"
            ]
        ]
    },
    {
        "id": "e6e2d53b7a5f7f0d",
        "type": "sqlite",
        "z": "ef45d4dbf3cac858",
        "mydb": "4e71ffcc.32ba8",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "LastSeen",
        "x": 520,
        "y": 80,
        "wires": [
            [
                "3d5441a7822941fe"
            ]
        ]
    },
    {
        "id": "3d5441a7822941fe",
        "type": "debug",
        "z": "ef45d4dbf3cac858",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 80,
        "wires": []
    },
    {
        "id": "5dc78d389b5dc148",
        "type": "comment",
        "z": "ef45d4dbf3cac858",
        "name": "CREATE DATABASES",
        "info": "",
        "x": 240,
        "y": 40,
        "wires": []
    },
    {
        "id": "c0d9ac6e74f95a24",
        "type": "ip",
        "z": "ef45d4dbf3cac858",
        "name": "ip",
        "https": false,
        "timeout": "5000",
        "internalIPv4": false,
        "internalIPv6": false,
        "publicIPv4": true,
        "publicIPv6": false,
        "x": 510,
        "y": 260,
        "wires": [
            [
                "ee9bc92f013a5c92"
            ]
        ]
    },
    {
        "id": "87afc73889c1e476",
        "type": "inject",
        "z": "ef45d4dbf3cac858",
        "name": "SET global.publicip",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "18000",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 260,
        "wires": [
            [
                "c0d9ac6e74f95a24"
            ]
        ]
    },
    {
        "id": "a2a594e440b35ecb",
        "type": "comment",
        "z": "ef45d4dbf3cac858",
        "name": "SET GLOBAL PUBLIC IP",
        "info": "",
        "x": 250,
        "y": 220,
        "wires": []
    },
    {
        "id": "a8ee9ec870a7b9f8",
        "type": "moment",
        "z": "ef45d4dbf3cac858",
        "name": "STALETIME",
        "topic": "",
        "input": "",
        "inputType": "date",
        "inTz": "Africa/Abidjan",
        "adjAmount": "5",
        "adjType": "minutes",
        "adjDir": "add",
        "format": "",
        "locale": "en-US",
        "output": "staletime",
        "outputType": "global",
        "outTz": "Africa/Abidjan",
        "x": 530,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "61ade050b350b723",
        "type": "moment",
        "z": "ef45d4dbf3cac858",
        "name": "STARTTIME",
        "topic": "",
        "input": "",
        "inputType": "date",
        "inTz": "Africa/Abidjan",
        "adjAmount": "0",
        "adjType": "minutes",
        "adjDir": "add",
        "format": "",
        "locale": "en-US",
        "output": "starttime",
        "outputType": "global",
        "outTz": "Africa/Abidjan",
        "x": 530,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "fef6bcd925d21514",
        "type": "inject",
        "z": "ef45d4dbf3cac858",
        "name": "SET TIME VARIABLES",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 340,
        "wires": [
            [
                "a8ee9ec870a7b9f8",
                "61ade050b350b723",
                "467763cdcfba0049",
                "5e1cdadc5e34611e"
            ]
        ]
    },
    {
        "id": "467763cdcfba0049",
        "type": "moment",
        "z": "ef45d4dbf3cac858",
        "name": "VIDEOSTALETIME",
        "topic": "",
        "input": "",
        "inputType": "date",
        "inTz": "Africa/Abidjan",
        "adjAmount": "1",
        "adjType": "minutes",
        "adjDir": "add",
        "format": "",
        "locale": "en-US",
        "output": "staletime",
        "outputType": "global",
        "outTz": "Africa/Abidjan",
        "x": 550,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "22b0e537e04dc5e9",
        "type": "comment",
        "z": "ef45d4dbf3cac858",
        "name": "SET GLOBAL TIME VARIABLES",
        "info": "",
        "x": 270,
        "y": 300,
        "wires": []
    },
    {
        "id": "8e25cdf4adba4304",
        "type": "comment",
        "z": "ef45d4dbf3cac858",
        "name": "LAST SEEN LOCATION OF CALLSIGN",
        "info": "",
        "x": 290,
        "y": 720,
        "wires": []
    },
    {
        "id": "626f25b30c2f56e9",
        "type": "xml",
        "z": "ef45d4dbf3cac858",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 510,
        "y": 780,
        "wires": [
            [
                "4bc22429be89c2bf"
            ]
        ]
    },
    {
        "id": "4bc22429be89c2bf",
        "type": "function",
        "z": "ef45d4dbf3cac858",
        "name": "",
        "func": "let event = msg.payload[\"event\"];\nlet _detail = event[\"detail\"];\nlet detail = _detail[0];\n\nlet name = msg.payload.event.detail[0].contact[0].$.callsign;\nlet lat = msg.payload.event.point[0].$.lat;\nlet lon = msg.payload.event.point[0].$.lon;\nlet hae = msg.payload.event.point[0].$.hae;\nlet ce = msg.payload.event.point[0].$.ce;\nlet le = msg.payload.event.point[0].$.le;\nlet uid = msg.payload.event.$.uid\n\nmsg.payload = {\n  name: name,\n  lat: lat,\n  lon: lon,\n  hae: hae,\n  ce: ce,\n  le: le,\n  uid: uid\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 780,
        "wires": [
            [
                "edd8448042a0e512",
                "f89b99464997a53f"
            ]
        ]
    },
    {
        "id": "edd8448042a0e512",
        "type": "template",
        "z": "ef45d4dbf3cac858",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT\nOR REPLACE INTO LastSeen\nvalues\n  (\n    \"{{ payload.name }}\",\n    \"{{ payload.lat }}\",\n    \"{{ payload.lon }}\",\n    \"{{ payload.hae }}\",\n    \"{{ payload.ce }}\",\n    \"{{ payload.le }}\"\n  )",
        "output": "str",
        "x": 780,
        "y": 780,
        "wires": [
            [
                "944ed353ab3f91ee"
            ]
        ]
    },
    {
        "id": "944ed353ab3f91ee",
        "type": "sqlite",
        "z": "ef45d4dbf3cac858",
        "mydb": "4e71ffcc.32ba8",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "LastSeen",
        "x": 920,
        "y": 780,
        "wires": [
            [
                "12363bf61649cba8"
            ]
        ]
    },
    {
        "id": "ab43ec80bcb3c9a5",
        "type": "tcp tls in",
        "z": "ef45d4dbf3cac858",
        "name": "FETCH-FROM-TAK",
        "server": "client",
        "host": "${COT_IP}",
        "port": "${COT_PORT}",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "",
        "topic": "",
        "base64": false,
        "tls": "dc169dd1444aa8a5",
        "x": 230,
        "y": 780,
        "wires": [
            [
                "626f25b30c2f56e9",
                "8c28418a908e0f31"
            ]
        ]
    },
    {
        "id": "ee9bc92f013a5c92",
        "type": "change",
        "z": "ef45d4dbf3cac858",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.publicIPv4",
                "pt": "msg",
                "to": "ip",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 260,
        "wires": [
            [
                "f62624443367d01d"
            ]
        ]
    },
    {
        "id": "f62624443367d01d",
        "type": "debug",
        "z": "ef45d4dbf3cac858",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 260,
        "wires": []
    },
    {
        "id": "12363bf61649cba8",
        "type": "debug",
        "z": "ef45d4dbf3cac858",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 780,
        "wires": []
    },
    {
        "id": "d91a7eb8dd1fe56b",
        "type": "switch",
        "z": "ef45d4dbf3cac858",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": ">del<",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 630,
        "y": 840,
        "wires": [
            [
                "ce279869b9837123"
            ]
        ]
    },
    {
        "id": "8c28418a908e0f31",
        "type": "switch",
        "z": "ef45d4dbf3cac858",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "<link",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 510,
        "y": 840,
        "wires": [
            [
                "d91a7eb8dd1fe56b"
            ]
        ]
    },
    {
        "id": "ce279869b9837123",
        "type": "change",
        "z": "ef45d4dbf3cac858",
        "name": "NULL ISLAND AND NUKE",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "<point*.*<detail>",
                "fromt": "re",
                "to": "<point lat=\"0.0\" lon=\"0.0\" hae=\"9999999.0\" ce=\"9999999.0\" le=\"9999999.0\" /><detail>",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "<archive/>",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "stale=\"*....",
                "fromt": "re",
                "to": "stale=\"1990",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 840,
        "wires": [
            [
                "7dac542fdde70908"
            ]
        ]
    },
    {
        "id": "fb1cb20f91357c0b",
        "type": "comment",
        "z": "ef45d4dbf3cac858",
        "name": "BONUS FEATURE!",
        "info": "Add the remark `del` to a marker to have it be nuked from the server. ",
        "x": 230,
        "y": 880,
        "wires": []
    },
    {
        "id": "f89b99464997a53f",
        "type": "template",
        "z": "ef45d4dbf3cac858",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO FirtSeen\nvalues\n  (\n    \"{{ payload.name }}\",\n    \"{{ payload.uid }}\",\n    \"{{ global.ts }}\"\n  )",
        "output": "str",
        "x": 780,
        "y": 720,
        "wires": [
            [
                "4515a50fff6ab1c3"
            ]
        ]
    },
    {
        "id": "4515a50fff6ab1c3",
        "type": "sqlite",
        "z": "ef45d4dbf3cac858",
        "mydb": "4e71ffcc.32ba8",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "FirstSeen",
        "x": 920,
        "y": 720,
        "wires": [
            [
                "ea685ea51d252cf4"
            ]
        ]
    },
    {
        "id": "d967d2660a6b72ff",
        "type": "sqlite",
        "z": "ef45d4dbf3cac858",
        "mydb": "4e71ffcc.32ba8",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "FirstSeen",
        "x": 520,
        "y": 160,
        "wires": [
            [
                "8c4b46161fc5522c"
            ]
        ]
    },
    {
        "id": "427424acdf3c153a",
        "type": "inject",
        "z": "ef45d4dbf3cac858",
        "name": "CREATE",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "CREATE TABLE FirtSeen(id TEXT PRIMARY KEY, uid, ts)",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 160,
        "wires": [
            [
                "d967d2660a6b72ff"
            ]
        ]
    },
    {
        "id": "8c4b46161fc5522c",
        "type": "debug",
        "z": "ef45d4dbf3cac858",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 160,
        "wires": []
    },
    {
        "id": "5e1cdadc5e34611e",
        "type": "change",
        "z": "ef45d4dbf3cac858",
        "name": "GLOBAL TS",
        "rules": [
            {
                "t": "set",
                "p": "ts",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 460,
        "wires": [
            [
                "bd1f2ce7346aad54"
            ]
        ]
    },
    {
        "id": "bd1f2ce7346aad54",
        "type": "debug",
        "z": "ef45d4dbf3cac858",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 460,
        "wires": []
    },
    {
        "id": "ea685ea51d252cf4",
        "type": "debug",
        "z": "ef45d4dbf3cac858",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 720,
        "wires": []
    },
    {
        "id": "409a597044c74578",
        "type": "inject",
        "z": "ef45d4dbf3cac858",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 580,
        "wires": [
            [
                "356e5f876b6cbe18"
            ]
        ]
    },
    {
        "id": "356e5f876b6cbe18",
        "type": "change",
        "z": "ef45d4dbf3cac858",
        "name": "SET SERVER COLOR",
        "rules": [
            {
                "t": "set",
                "p": "serverid",
                "pt": "global",
                "to": "SERVER_ID",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 580,
        "wires": [
            [
                "0812b93e4c22e689"
            ]
        ]
    },
    {
        "id": "0812b93e4c22e689",
        "type": "debug",
        "z": "ef45d4dbf3cac858",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 580,
        "wires": []
    },
    {
        "id": "b3f06a54d086d62a",
        "type": "catch",
        "z": "ef45d4dbf3cac858",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 200,
        "y": 1500,
        "wires": [
            [
                "36f85feb9687f191"
            ]
        ]
    },
    {
        "id": "36f85feb9687f191",
        "type": "switch",
        "z": "ef45d4dbf3cac858",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "\"Error: SQLITE_CONSTRAINT: UNIQUE constraint failed: FirtSeen.id\"",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 1500,
        "wires": [
            [
                "a1b3bf7f5582bfc9"
            ],
            [
                "115cab0577cf345f"
            ]
        ]
    },
    {
        "id": "a1b3bf7f5582bfc9",
        "type": "debug",
        "z": "ef45d4dbf3cac858",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 1480,
        "wires": []
    },
    {
        "id": "115cab0577cf345f",
        "type": "debug",
        "z": "ef45d4dbf3cac858",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 1520,
        "wires": []
    },
    {
        "id": "aa5877d741410bd2",
        "type": "inject",
        "z": "ef45d4dbf3cac858",
        "name": "Start of simple video server propegator",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 980,
        "wires": [
            [
                "c5414680885c7a14"
            ]
        ]
    },
    {
        "id": "c5414680885c7a14",
        "type": "http request",
        "z": "ef45d4dbf3cac858",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:9997/v1/paths/list",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 610,
        "y": 980,
        "wires": [
            [
                "c48614dac5730487"
            ]
        ]
    },
    {
        "id": "d75b34d7846cce6e",
        "type": "sqlite",
        "z": "ef45d4dbf3cac858",
        "mydb": "4e71ffcc.32ba8",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "LastSeen",
        "x": 520,
        "y": 1060,
        "wires": [
            [
                "f4ed74e4e4816e7f"
            ]
        ]
    },
    {
        "id": "574273175b9ccbd7",
        "type": "template",
        "z": "ef45d4dbf3cac858",
        "name": "CHECK LAST LOCATION",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT\n  *\nFROM\n  LastSeen\nWHERE\n  id = \"{{ callsign }}\"",
        "output": "str",
        "x": 270,
        "y": 1060,
        "wires": [
            [
                "d75b34d7846cce6e"
            ]
        ]
    },
    {
        "id": "c5f697e7fa30f4ca",
        "type": "switch",
        "z": "ef45d4dbf3cac858",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1030,
        "y": 1080,
        "wires": [
            [
                "46d48668b73d8f61"
            ],
            [
                "6537fc0c81beb2e2"
            ]
        ]
    },
    {
        "id": "6537fc0c81beb2e2",
        "type": "function",
        "z": "ef45d4dbf3cac858",
        "name": "",
        "func": "name = msg.payload[0].id;\nlat = msg.payload[0].lat;\nlon = msg.payload[0].lon;\nhae = msg.payload[0].hae;\nce = msg.payload[0].ce;\nle = msg.payload[0].le;\n\nmsg.payload = {\n  name: name,\n  lat: lat,\n  lon: lon,\n  hae: hae,\n  ce: ce,\n  le: le\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 1100,
        "wires": [
            [
                "1de8a3895b5f11ab"
            ]
        ]
    },
    {
        "id": "1de8a3895b5f11ab",
        "type": "template",
        "z": "ef45d4dbf3cac858",
        "name": "SEND RTSP TO SERVER",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"yes\"?>\n<event version=\"2.0\" uid=\"Unique-uid-{{ callsign }}\" type=\"b-m-p-s-p-loc\" how=\"h-g-i-g-o\" time=\"{{ global.starttime }}\" start=\"{{ global.starttime }}\" stale=\"{{ global.staletime }}\">\n  <point lat=\"{{ payload.lat }}\" lon=\"{{ payload.lon }}\" hae=\"{{ payload.hae }}\" ce=\"{{ payload.ce }}\" le=\"{{ payload.le }}\" />\n  <detail>\n    <contact callsign=\"{{ callsign }}-stream\" />\n    <link type=\"a-f-G-U-C-I\" uid=\"ASN-TAK-BOT-FAKE-UID\" parent_callsign=\"ASN-TAK-BOT\" relation=\"p-p\" production_time=\"{{ global.starttime }}\" />\n    <archive />\n    <sensor fov=\"45\" fovBlue=\"1\" displayMagneticReference=\"0\" range=\"100\" fovGreen=\"1\" fovAlpha=\"0\" hideFov=\"true\" fovRed=\"1\" azimuth=\"270\" />\n    <remarks />\n    <__video uid=\"Video-UID-{{ callsign }}\">\n      <ConnectionEntry protocol=\"rtsp\" path=\"/{{ callsign }}\" address=\"{{global.ip}}\" port=\"8554\" uid=\"Video-UID-{{ callsign }}\" alias=\"{{ callsign }}\" roverPort=\"-1\" rtspReliable=\"0\" ignoreEmbeddedKLV=\"False\" networkTimeout=\"0\" bufferTime=\"-1\" />\n    </__video>\n  </detail>\n</event>",
        "output": "str",
        "x": 1460,
        "y": 1080,
        "wires": [
            [
                "7dac542fdde70908"
            ]
        ]
    },
    {
        "id": "46d48668b73d8f61",
        "type": "function",
        "z": "ef45d4dbf3cac858",
        "name": "",
        "func": "name = msg.backupname;\n\n\nmsg.payload = {\n  name: name,\n  lat: \"0.0\",\n  lon: \"0.0\",\n  hae: \"0.0\",\n  ce: \"99999\",\n  le: \"99999\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 1060,
        "wires": [
            [
                "1de8a3895b5f11ab"
            ]
        ]
    },
    {
        "id": "233884fa67f81523",
        "type": "comment",
        "z": "ef45d4dbf3cac858",
        "name": "CONNECTS TO RTSP-SIMPLE-SERVER AND SENDS STREAMS AS COT",
        "info": "",
        "x": 410,
        "y": 940,
        "wires": []
    },
    {
        "id": "bed602bb6d965888",
        "type": "switch",
        "z": "ef45d4dbf3cac858",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1030,
        "y": 1200,
        "wires": [
            [
                "f7e4d4513c47881f"
            ],
            [
                "1bd0c80bfa2ecaab"
            ]
        ]
    },
    {
        "id": "1bd0c80bfa2ecaab",
        "type": "function",
        "z": "ef45d4dbf3cac858",
        "name": "",
        "func": "name = msg.payload[0].id;\nlat = msg.payload[0].lat;\nlon = msg.payload[0].lon;\nhae = msg.payload[0].hae;\nce = msg.payload[0].ce;\nle = msg.payload[0].le;\n\nmsg.payload = {\n  name: name,\n  lat: lat,\n  lon: lon,\n  hae: hae,\n  ce: ce,\n  le: le\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 1220,
        "wires": [
            [
                "41ada320acf041ee"
            ]
        ]
    },
    {
        "id": "41ada320acf041ee",
        "type": "template",
        "z": "ef45d4dbf3cac858",
        "name": "SEND RTMP TO SERVER",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"yes\"?>\n<event version=\"2.0\" uid=\"Unique-uid-{{ callsign }}\" type=\"b-m-p-s-p-loc\" how=\"h-g-i-g-o\" time=\"{{ global.starttime }}\" start=\"{{ global.starttime }}\" stale=\"{{ global.staletime }}\">\n  <point lat=\"{{ payload.lat }}\" lon=\"{{ payload.lon }}\" hae=\"{{ payload.hae }}\" ce=\"{{ payload.ce }}\" le=\"{{ payload.le }}\" />\n  <detail>\n    <contact callsign=\"{{ callsign }}-stream\" />\n    <link type=\"a-f-G-U-C-I\" uid=\"ASN-TAK-BOT-FAKE-UID\" parent_callsign=\"ASN-TAK-BOT\" relation=\"p-p\" production_time=\"{{ global.starttime }}\" />\n    <archive />\n    <sensor fov=\"45\" fovBlue=\"1\" displayMagneticReference=\"0\" range=\"100\" fovGreen=\"1\" fovAlpha=\"0\" hideFov=\"true\" fovRed=\"1\" azimuth=\"270\" />\n    <remarks />\n    <__video uid=\"Video-UID-{{ callsign }}\">\n      <ConnectionEntry protocol=\"rtmp\" path=\"/{{ callsign }}\" address=\"{{global.ip}}\" port=\"1935\" uid=\"Video-UID-{{ callsign }}\" alias=\"{{ callsign }}\" roverPort=\"-1\" rtspReliable=\"0\" ignoreEmbeddedKLV=\"False\" networkTimeout=\"0\" bufferTime=\"-1\" />\n    </__video>\n  </detail>\n</event>",
        "output": "str",
        "x": 1460,
        "y": 1200,
        "wires": [
            [
                "7dac542fdde70908"
            ]
        ]
    },
    {
        "id": "f7e4d4513c47881f",
        "type": "function",
        "z": "ef45d4dbf3cac858",
        "name": "",
        "func": "name = msg.backupname;\n\n\nmsg.payload = {\n  name: name,\n  lat: \"0.0\",\n  lon: \"0.0\",\n  hae: \"0.0\",\n  ce: \"99999\",\n  le: \"99999\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 1180,
        "wires": [
            [
                "41ada320acf041ee"
            ]
        ]
    },
    {
        "id": "f4ed74e4e4816e7f",
        "type": "switch",
        "z": "ef45d4dbf3cac858",
        "name": "CHECK SESSION TYPE",
        "property": "proto",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "rtspSession",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "rtmpSession",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 770,
        "y": 1180,
        "wires": [
            [
                "c5f697e7fa30f4ca"
            ],
            [
                "bed602bb6d965888"
            ]
        ]
    },
    {
        "id": "c48614dac5730487",
        "type": "json",
        "z": "ef45d4dbf3cac858",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 750,
        "y": 980,
        "wires": [
            [
                "086813c413a588fb"
            ]
        ]
    },
    {
        "id": "086813c413a588fb",
        "type": "split",
        "z": "ef45d4dbf3cac858",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 890,
        "y": 980,
        "wires": [
            [
                "a566a30a03d296d5"
            ]
        ]
    },
    {
        "id": "a566a30a03d296d5",
        "type": "switch",
        "z": "ef45d4dbf3cac858",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1030,
        "y": 980,
        "wires": [
            [],
            [
                "b8d665ac65807f6a"
            ]
        ]
    },
    {
        "id": "b8d665ac65807f6a",
        "type": "function",
        "z": "ef45d4dbf3cac858",
        "name": "function 1",
        "func": "msg.callsign = Object.keys(msg.payload)[0];\nmsg.proto = msg.payload[Object.keys(msg.payload)[0]].source.type;\n\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 980,
        "wires": [
            [
                "574273175b9ccbd7"
            ]
        ]
    }
]
